/*
# #######################################################################################
#
#
#  ██╗    ██╗██╗      ██████╗  ██████╗  ██████╗ ██╗   ██╗████████╗
#  ██║    ██║██║     ██╔═══██╗██╔════╝ ██╔═══██╗██║   ██║╚══██╔══╝
#  ██║ █╗ ██║██║     ██║   ██║██║  ███╗██║   ██║██║   ██║   ██║   
#  ██║███╗██║██║     ██║   ██║██║   ██║██║   ██║██║   ██║   ██║   
#  ╚███╔███╔╝███████╗╚██████╔╝╚██████╔╝╚██████╔╝╚██████╔╝   ██║   
#   ╚══╝╚══╝ ╚══════╝ ╚═════╝  ╚═════╝  ╚═════╝  ╚═════╝    ╚═╝   
#                                                                 
# by Nekoy
# #######################################################################################
*/

* {
	background-image: none;
    color: #cdd6f4;
}

window {
	background-color: rgba(30, 30, 27, 0.6);
}

button {
  color: #7d9bba;
	background-color: rgba(17, 17, 27, 0.0);
	outline-style: none;
	border: none;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;
	border-radius: 20px;
	box-shadow: none;
	text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:hover#lock {
	background-color: rgba(30, 30, 27, 0.9);
	background-size: 25%; 
	margin-right : 30px; 
	margin-bottom : 30px;
	border-radius: 20px; 
    animation: gradient_f 20s ease-in infinite; 
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682); 
}

button:hover#logout {
	background-color: rgba(30, 30, 27, 0.9);;
	background-size: 25%; 
	margin-right : 30px;
	margin-top : 30px;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite; 
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#shutdown {
	background-color: rgba(30, 30, 27, 0.9);
	background-size: 25%;
	margin-left : 20px;
	margin-bottom : 30px;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#reboot {
	background-color: rgba(30, 30, 27, 0.9);
	background-size: 25%;
	margin-left : 30px;
	margin-top : 30px;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#suspend {
	background-color: rgba(30, 30, 27, 0.9);
	background-size: 25%;
	margin-left : 30px;
	margin-top : 30px;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite; 
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#hibernate {
	background-color: rgba(30, 30, 27, 0.9);
	background-size: 25%;
	margin-left : 30px;
	margin-top : 30px;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
  background-image: image(url("./icons/lock.png"), url("./icons/lock.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"), url("./icons/logout.png"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.png"), url("./icons/shutdown.png"));
}

#reboot {
  background-image: image(url("./icons/reboot.png"), url("./icons/reboot.png"));
}

#suspend {
  background-image: image(url("./icons/suspend.png"), url("./icons/suspend.png"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"), url("./icons/hibernate.png"));
}
